1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
a = []
for i in range(1,101):
    if i%5 == 0 and i%3 == 0:
        i="MickeyMouse"
    elif i%5 == 0:
        i="Mouse"
    elif i%3 == 0:
        i="Mickey"
    a.append(i)
print(a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [2]:
mm=[]
for i in range(1,101):
    o=""
    if i%3==0: o+="Mickey"
    if i%5==0: o+="Mouse"
    if o=="": o=i
    mm.append(o)
print(mm)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [2]:
b=[]
for i in range(len(a)):
    if a[i] == "Mickey":
        i="Donald"
    elif a[i] == "Mouse":
        i="Duck"
    else:
        i=a[i]
    b.append(i)
print(tuple(b))

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
a = input("First variable: ")
b = input ("Second variable: ")

def swapfunc(a,b):
    temp_a = a
    a = b
    b = temp_a
    return a,b

swapfunc(a,b)

First variable: gg
Second variable: hh

('hh', 'gg')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
#define function
import math
def euclidean_distance(x1, y1, x2, y2):
    try:
        dist = math.sqrt((x1-y1)**2+(x2-y2)**2)
    except:
        print("The arguments must be floats or ints")
    return dist
      
x1, y1 = input("Enter coords here w/ a comma between: ").split(',')
x2, y2 = input("Enter coords here w/ a comma between: ").split(',')

#make them floats
x1, y1 = [float(x1), float(y1)]
x2, y2 = [float(x2), float(y2)]

distance = euclidean_distance(x1, y1, x2, y2)
print("The euclidean distance is: {dist:.2f}".format(dist=distance))

Enter coords here w/ a comma between: 1,2
Enter coords here w/ a comma between: 4,5
The euclidean distance is: 1.41

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [2]:
#First method based on the calculation of all characters
print(len(s))

232

In [7]:
#Second method: using a dictionary
s2 = sorted(s.lower())

freq = {} 
    
for ele in s2: 
    if ele in freq: 
        freq[ele] += 1
    else: 
        freq[ele] = 1
    
# printing result
sums=0
for ele in freq:
    print ("Character:", ele, "\t Num of occurencies:", freq[ele])
    sums+=freq[ele]

print(sums)

Character:   	 Num of occurencies: 41
Character: . 	 Num of occurencies: 2
Character: 0 	 Num of occurencies: 2
Character: 1 	 Num of occurencies: 2
Character: a 	 Num of occurencies: 7
Character: b 	 Num of occurencies: 5
Character: c 	 Num of occurencies: 3
Character: d 	 Num of occurencies: 3
Character: e 	 Num of occurencies: 22
Character: f 	 Num of occurencies: 10
Character: g 	 Num of occurencies: 1
Character: h 	 Num of occurencies: 9
Character: i 	 Num of occurencies: 14
Character: k 	 Num of occurencies: 2
Character: l 	 Num of occurencies: 6
Character: m 	 Num of occurencies: 12
Character: n 	 Num of occurencies: 10
Character: o 	 Num of occurencies: 13
Character: p 	 Num of occurencies: 8
Character: r 	 Num of occurencies: 17
Character: s 	 Num of occurencies: 9
Character: t 	 Num of occurencies: 19
Character: u 	 Num of occurencies: 9
Character: v 	 Num of occurencies: 2
Character: w 	 Num of occurencies: 2
Character: y 	 Num of occurencies: 2
232

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [13]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [14]:
l = set(l)
print(len(l))

54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def powefunc(a,pow):
    power=a**(pow)
    return power

def sixpow(a):
    power=powefunc(powefunc(a,3),2)
    return power

a=2

print(sixpow(a)==powefunc(a,6))

True

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [17]:
#using a for loop
lista1=[]

for i in range(0,11):
    lista1.append(i**3)
    print(i, "\t", lista1[i])

0 	 0
1 	 1
2 	 8
3 	 27
4 	 64
5 	 125
6 	 216
7 	 343
8 	 512
9 	 729
10 	 1000

In [18]:
lista2 = [i**3 for i in range(0,11)]
print(lista2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
limit = input("Set the limit: ")
limit = int(limit)
lista =[(a,b,c) for a in range(1,limit+1) for b in range(1,limit+1) for c in range(1,limit+1) if a**2+b**2==c**2 and a<=b]
TpLista=tuple(lista)
print(TpLista)

Set the limit: 100
((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [8]:
import math
a=(1,2,3,5)

#using the norm
def norm_vec(a):
    b=[a[i]**2 for i in range(0,len(a))]
    norm=math.sqrt(sum(b))
    c=[a[i]/norm for i in range(0,len(a))]
    c=tuple(c)
    return c

#using the sum
def norm_vec_sum(a):
    return tuple([float(i)/sum(a) for i in a])

print(norm_vec(a))
print(norm_vec_sum(a))

(0.16012815380508713, 0.32025630761017426, 0.48038446141526137, 0.8006407690254357)
(0.09090909090909091, 0.18181818181818182, 0.2727272727272727, 0.45454545454545453)